html {
	background-color: black;
}

body {
	background-color: cyan;
	margin: auto;
	max-width: 600px;
	height: 600px;

}
	p{
		color: black;
	}
	ol{
		color: black;
	}
ul{
	color: black;
}
h1{
	color: black;
}
mark{
	color: white;
}